[
 {ssl, [{versions, ['tlsv1.2', 'tlsv1.1']}]},
 {rabbitmq_management, [
   {listener, [
     {port, 15672}
     {%- if ssl_enabled == True -%},
     {ssl,      true},
     {ssl_opts, [{cacertfile, "/etc/rabbitmq/ssl/ca/cert.pem"},
     {certfile,   "/etc/rabbitmq/ssl/server/cert.pem"},
     {keyfile,    "/etc/rabbitmq/ssl/server/key.pem"}]}
     {%- endif %}
   ]}
 ]},
 {rabbit,
  [
   {tcp_listeners, [{"0.0.0.0", 5672}]},
   {loopback_users, "maintenance"}
   {%- if ssl_enabled == True -%},
   {ssl_listeners, [{{ ssl_port }}]},
   {ssl_options, [{cacertfile,           "/etc/rabbitmq/ssl/ca/cert.pem"},
                  {certfile,             "/etc/rabbitmq/ssl/server/cert.pem"},
                  {keyfile,              "/etc/rabbitmq/ssl/server/key.pem"},
                  {verify,               verify_peer},
                  {versions, ['tlsv1.2', 'tlsv1.1']},
                  {fail_if_no_peer_cert, false}]}
   {%- endif %}
  ]},
 {kernel,
  [
  ]},
 {rabbitmq_management_agent,
  [
  ]},
 {rabbitmq_shovel,
  [{shovels,
    [
    ]}
  ]},
 {rabbitmq_stomp,
  [
  ]},
 {rabbitmq_mqtt,
  [
  ]},
 {rabbitmq_amqp1_0,
  [
  ]},
 {rabbitmq_auth_backend_ldap,
  [
  ]}
].
